html{
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 600px;

}
.navbar{
  background-color: snow;
  width: 100%;
  padding-top: 20px;
}
.navbar ul {
  display:flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-item{
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out;
}
.nav-item.highlight{
  background-color: palegreen !important;
  border-radius: 5px;
}
.navbar li {
  margin-right: 20px;
}
.musicToggle{
  margin-top: 20px;
}
h1{
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  color: deeppink;
  padding-top: 50px;
  padding-bottom: 30px;
}
p{
  font-size: 12px;
  color: blue;
}
body{
  position: relative;
  background-color: thistle;
}
.one{
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  color: blue;
  padding-bottom: 300px;
}
.img1{
  float: left;
  width: 300px;
  height: 300px;
  padding-bottom: 50px;
}
.img2{
  float: right;
  width: 300px;
  height: 300px;
  padding-bottom: 50px;
}
.footer{
  float: bottom;
  width: 100%;
  height: 50px;
  background-color: aquamarine;
  padding-bottom: 50px;
}
.source{
  margin-top: 1px;
}
